/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
}

a {
  color: inherit;
}

a:hover {
  color: rgb(65, 180, 148);
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background: url('/assets/bg.jpg') center no-repeat;
  color: rgb(138, 144, 147);
  padding: 1rem 3rem;
  min-height: 100vh;
  display: grid;
  align-items: end;
}

.bg-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}

main,
footer {
  z-index: 1;
}

@media (min-width: 640px) {
  main {
    max-width: 450px;
  }
}

form {
  margin-top: 2rem;
}

form div {
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  form div {
    margin-bottom: 0;
  }
}

input {
  border: 2px solid rgb(138, 144, 147);
  text-indent: 1rem;
  padding-block: 0.5rem;
}

.error {
  display: none;
  color: rgb(255, 0, 0);
}

button {
  cursor: pointer;
  background-color: rgb(65, 180, 148);
  padding: 0.6rem 1rem;
  font-weight: 700;
  margin-bottom: auto;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(50, 142, 116);
}

.socials {
  display: flex;
  gap: 1rem;
}

footer p {
  margin-block: 0.5rem;
}
